/* .Pagin{
    display:inline-block;
    
} */

.Pagin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .Pagin a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-style: solid;
    /* border-color: #e2cade; */
    border-width:0.1rem;
    border-top: 0.5rem;
    border-bottom: 0.5rem;
    
  }
  
  .Pagin a:hover {
      background-color: rgb(151,156,255);
      color: #0e0d0d
  }
