.all-div-componenet{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:15rem;
    border: 1px solid black;
   min-width: 70%;
    min-height: 100%;
}

/* .container-all-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.product-image-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}

.container-chating-rate-reviews{
    display: flex;
    flex-direction: column;
    gap:10rem;
}

.delet-and-update-btuns{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content:flex-end;
    padding-right:2rem ;

}
.btn-to-delete-all-my-comment,.btn-delete-single-comment,.btn-update-single-comment{
    max-width: 6rem;
    height: 2rem;
    text-align: center;
    align-items:center;
}
.btn-to-create-comment{
   max-width: 10rem;
    height: 3rem;
}
.add-comment-textarea-div{
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
   gap:2rem;
   padding-top: 3rem;
   padding-right: 2rem;

}

.text-area-comment{
    width: 30%;
 
}
   

.firstName{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:2rem;
    padding-top: 2rem;
    max-width: 50%;
}

.btn-to-create-comment,.btn-btn-chating,.btn-to-delete-all-my-comment,.btn-delete-single-comment,.btn-update-single-comment {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-to-create-comment,.btn-btn-chating,.btn-to-delete-all-my-comment,.btn-delete-single-comment,.btn-update-single-comment:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

/* @media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
} */
.just-one-comment{
   
    display: flex;
    flex-direction: column;
    gap:2rem;
    border: 1px solid black;
    
    
}

.product-add-comment-rate{
   width: 100%;
}

.comment-updated-btn{
    display:flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
}

.update-comment-inp{
    width: 30%;
    height: 3rem;
}

.product-image-description p {
    text-align:left;
}

.product-image-description{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


