.form-input-emailjs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 39rem;
  min-height: 100%;
  gap: 0.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-textarea-emailjs {
  width: 35rem;
  height: 15rem;
}

.form-btn-emailjs {
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  background: #466ebe;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  width: 8rem;
}
.container-emailjs form {
  display: flex;
  justify-content: center;
}

.container-emailjs {
  display: flex;
  justify-content: center;
  height: 100%;
    padding: 2%;
}


.form-input-emailjs div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-name-emailjs,
.form-email-emailjs,
.form-subject-emailjs,
.form-textarea2-emailjs {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
.form-inp-but-emailjs {
  width: 30rem;
  height: 2rem;
}
