.categories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 30vh;
  gap: 3%;
  margin-top: 1%;
  padding: 0 10%;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  opacity: 0.9;
  color: #37aee2;
  font-size: 1.5rem;
}
.category:hover {
  cursor: pointer;
}
.label {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #37aee2;
  color: rgb(212, 211, 211);
}
@media (max-width: 648px) {
  .categories {
    display: grid;
    height: 60vh;
  }
  .category {
    width: 100%;
    padding: 0.5em;
  }
}
