.navigation{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 45%;
    /* border: green 3px solid; */
    width:100%;
    overflow: hidden;
    height: 2.5rem;
    justify-content: space-around;
    padding-top: 1%;
    border-top: rgba(255, 255, 255, 0.171) 0.09rem solid; ;
    /* background-color: rgb(255,255,255) */
    /* position: absolute;
    top:5rem */
}

.linksNav{
    text-decoration: none;
    color:rgb(255, 255, 255)
}



.leftLinks{
display: flex;
justify-content: start;
gap: 20px;
}

.rightLinks{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.imaaggge{
    width:60px;
    height:60px
}

