.header1 {
  display: flex;
  background: rgb(212, 211, 211);
  justify-content: flex-start;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
  width: 100%;
  gap:10%;
  background-image: linear-gradient(-180deg, #4267b3 0%, #466ebe 100%);
}
.search {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.nav {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;

  height: 8vh;
  width: 200%;

  overflow: hidden;
}
.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #e0dede;
  display: flex;
  height: 80px;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.serach-inp {
  top: 0;
  left: 0;
  width: 30vw;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;

  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.serach-btn {
  padding: 10px;
  width: 42.5px;
  height: 42.5px;

  border-radius: 50%;
  color: #6d44b8;
  text-align: center;
  font-size: 1.2em;

  background-color: rgb(245, 245, 245);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-180deg, #4267b3 0%, #4267b3 100%);
  color: #e0dede;
  /* margin-bottom: 1%; */
}
.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
.nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 4%;
  width: 11%;
}

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}


.searchTerm:focus {
  color: #00b4cc;
}



.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background: rgb(212, 211, 211);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
  background-image: linear-gradient(-180deg, #4267b3 0%, #466ebe 100%);

  width: 100%;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.nav-options {
  padding-right: 25px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style-type: none;
}
.mobile-option {
  display: none;
}

.option:hover {
  color: white;
}
.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
  justify-content: space-evenly;
  width: 15%;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: white;
}
.signup-btn {
  border-radius: 3px;
  cursor: pointer;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media (max-width: 648px) {
  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 80px;
    right: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: #b3b4b9ce;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-right: 31px;
    background-image: linear-gradient(-180deg, #4267b3 0%, #466ebe 100%);
    width: 170px;
    padding-top: 7px;
  }

  .menu-icon {
    width: 30px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  .sign-up {
    border-radius: 3px;
    padding: 20px 0px;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }
  .mobile-menu {
    display: block;
    z-index: 1;
  }
  .carousel.carousel-slider .control-arrow {
    display: none;
  }
  
}
.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% +0.5rem);
  background-color: #8b9dc3;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px e Orgba(0, e, e, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown {
  position: relative;
  /* height: 100%; */
  display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu1 {
  position: absolute;
  left: 0;
  top: 111%;
  background-color: #8b9dc3;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px e Orgba(0, e, e, 0.1);
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  height: 250px;
  z-index: 2;
  width: 180px;
}

.category-list {
  border-bottom: 0.1rem solid rgb(212, 211, 211);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  margin: 10px 0;
}

/* drop down list  for user*/
.dropdown-user {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.dropdown-menu1-user {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #8b9dc3;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px e Orgba(0, e, e, 0.1);
  opacity: 1;
  /* pointer-events: none; */
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  height: 150px;
  z-index: 2;
  width: 180px;
}
.dropdown-menu-user {
  position: absolute;
  right: 2;
  top: 100%;
  background-color: #8b9dc3;
  padding: 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 5px e Orgba(0, e, e, 0.1);
  opacity: 0;
  /* pointer-events: none; */
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.user-list {
  border-bottom: 0.1rem solid rgb(212, 211, 211);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  margin: 10px 0;
  font-size: 1rem;
}
.link-user {
  text-decoration: none;
  color: white;
}
.user-button {
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css?family=Muli");

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.container {
  width: 54%;
}

.search-bar {
  width: 55%;
  margin: 40px auto;
  line-height: 56px;
  position: relative;
}

.searchTerm[type="text"] {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  color: #000;
  border: 1px solid #bebebe;
  border-radius: 2px 0 0 2px;
  z-index: 2;
}

.searchTerm:focus {
  border: 1.1px solid #1c62b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.searchButton {
  position: absolute;
  width: 11%;
  height: 33px;
  border: 1px solid #bebebe;
  border-left: 0;
  top: 13px;
  right: 0;
  border-radius: 0px 2px 2px 0;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  background-color: #f0f0f0;
  z-index: 1;
}

.searchButton link {
  opacity: 0.5;
  transition: all 0.07s ease-in-out;
}

.searchButton:hover link {
  opacity: 0.95;
}

.searchButton:hover {
  background-color: #e4e4e4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.05);
  transition: all 0.07s ease-in-out;
}

/* h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 0 0 20px black;
  cursor: none;
  margin-top: 22px;
} */
@media (max-width: 500px) {
  .header1{
    align-items: center;
    gap: 0;
    padding: 0;
    justify-content: center;
    display: grid;

  }
  .box{
    display:none
  }
  .dropdown-user{
    display:none
  }
}