.latest-products {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1%;
  
  height: 60vh;
  gap: 5%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
  height: 100%;
  gap: 44px;
  /* padding: 0% 3%; */
}
.btn-chat {
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  background: #466ebe;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
}
.chat-div {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.home {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.single-product-1 {
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;

  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
  border-radius: 1%;
  margin-bottom: 3%;
}
@media (max-width: 648px) {
  .latest-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 10%; */
    gap: 10px;
    height: 100%;
  }

  .home {
    display: grid;
    height: 100%;
    width: 100%;
  }
  .single-product-1 {
    min-width: 100%;
    min-height: 60vh;
  }
}
.Typewriter {
  font-size: 1.3em;
}
