.Login_form1 {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8rem;

  width: 50%;
  padding-left: 25rem;
  border: 0.1 solid black;
  height: 30rem;
  padding-bottom: -1rem; */
}

/* .Register-image-login {
  height: 17rem;
  border-left: 0.1rem solid rgb(92, 84, 84);
  border-bottom: 0.1rem solid rgb(92, 84, 84);
} */
.title {
  /* font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem; */

  position: relative;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
  color: #444;
  text-align: center;
}

.Login-form {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 2rem;
  box-shadow: #17759c;
  height: 29rem;
  position: relative;
  bottom: 1rem;
  top: 6rem; */
}

.login-inp {
  /* width: 25rem;
  height: 2rem;
  border-radius: 0.1rem;
  border: 0.1rem solid rgb(117, 109, 116);
  cursor: pointer;
  border-top: none;
  border-right: none;
  border-left: none; */
  font-size: 14px;
  width:240px;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
  opacity: 0.5;
  font-size: 15px;
  font-weight:bold;
}

.Login_Submit {
  background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 10%;
  border: 0;
  height: 3rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-bottom: -1rem;
  text-align: center;
}

.Login-form-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  width:50%;
 min-height:100%;
  /* background-color: rgb(121,117,255); */

}

/* .Login_form1{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.Login_form1 form {
  display: flex;
  justify-content: center;
  
  padding-top: 2rem;
  height:100%;
}






.login-inp:hover{
  opacity: .7;
  color:#08c;
  border: 1px solid #08c;
   box-shadow: 0px 1px 0px rgba(255,255,255,.25),inset 0px 3px 6px rgba(0,0,0,.25);
}