.Login_form1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8rem;
   
    width: 50%;
    padding-left: 25rem;
    border: 0.1 solid black;
    height:30rem;
    padding-bottom: -1rem;
}

.Register-image-login{
    height:17rem;
 border-left:0.1rem solid rgb(92, 84, 84);
 border-bottom:0.1rem solid rgb(92, 84, 84);
}
.title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:1rem;
}

.Login-form{
    display: flex;
flex-direction: column;
align-items: center;
width: 50%;
/* border-bottom:0.1rem solid black; */
gap: 2rem;
box-shadow: #17759C ;
height: 29rem;
position: relative;
bottom: 1rem;
top: 6rem;
}

.login-inp{
    width: 25rem;
    height: 2rem;
    border-radius: 0.1rem;
    border: 0.1rem solid rgb(117, 109, 116);
    cursor: pointer;
    border-top: none;
    border-right: none;
    border-left: none;
}

.Login_Submit{
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 50%;
    border: 0;
    height:3rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding-bottom: -1rem;
}