.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.App {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.root {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  min-width: 100%;
}

html,
body,
#app,
#app > div {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
}
@media (max-width: 648px) {
  html,
  body,
  #app,
  #app > div {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
}
