.footer {
  display: flex;
  position: relative;
  margin-top: 100px;
  height: 250px;
  clear: both;
  background-image: linear-gradient(-180deg, #4267B3 0%, #466ebe 100%);

  border-bottom: 2px;
 
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}

.about {
  margin: 5px;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #e0dede;
align-items: center;
}

.footerCategories {
  margin: 25px;
}
.aboutDev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
}

.contact {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
  clear: both;
  background-color: #8b9dc3 ;
  border-bottom: 2px;
  gap: 30px;
}
h4{
  color: #fff;
}