.image-user {
  height: 130px;
  width: 110px;
  border-radius: 50%;
  padding-top: 1rem;
}
.divContainer {
  display: flex;
  width: 80rem;
  justify-content: center;
  height: 50vh;
  gap: 4%;
   /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.user-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:center ; */
  /* justify-content:space-between; */
  height: 23rem;
  gap: 6rem;
  width:15rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 3rem;
}
.detailes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  height:23rem;
  margin-top:3rem;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 
}

.personal-detailes {
  display: flex;
  flex-wrap: wrap;
  width:50rem;
}
.info-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
  /* width: 20rem; */
  width: 50%;
  padding-left:4rem;
  padding-bottom: 1rem;
}

.container-usr-profile-5{
  display: flex;
justify-content: center;
height:30rem;
}

.user-twit{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 1rem;
}

.detailes input{
  width: 17rem;
  height: 2rem;
  border: 1px solid black;
}

.detailes input:focus{
  box-shadow: 0 0 0.3rem #852f68;
}

.info-div label{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

.user-image span{
  font-weight: bold;
font-family: Arial, Helvetica, sans-serif;

}


.icon-prof-f{
 height:2rem;
 width:5rem;
 color:rgb(34, 23, 185);
 cursor: pointer;
}

.icon-prof-t{
  height:2rem;
  width:5rem;
  color:rgb(14, 144, 177);
  cursor: pointer;
}

.icon-prof-l{
  height:2rem;
  width:5rem;
  color:rgb(0,119,181);
  cursor: pointer;
}

.icons-user-prof{
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
}

.btin-prof{
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  background: #466ebe;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  height:2rem;
  margin-right: 4rem;

}


.Address{
  display: flex;
  gap: 16rem;
}


.div-btn-user-profile-update{
  display: flex;
  justify-content: flex-end;
}

.btin-prof2{
  padding: 10px 30px;
  text-transform: capitalize;
  color: #fff;
  background: #466ebe;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
  cursor: pointer;
  height:2rem;
  margin-right: 4rem;
  width: 7rem;
}