.detaild-prod{
    /* background-color: rgb(130,180,64); */
    background-image: linear-gradient(-180deg, #308b79, rgb(151,156,255));
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:0.7rem;
    width:60%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:0.5rem;
    height:2rem;
    cursor: pointer;
    /* border: none;
      border-bottom: 0.5rem solid rgb(40, 230, 15); */
}
.delete-icon{
    width:2rem;
    height:2rem;
}

.update-icon{
    width:2rem;
    height:2rem;
}

.backe-icon{
    width:2rem;
    height:2rem;
}

.detaild-prod:hover{
    background-color:rgb(217, 230, 230);
    color:rgb(61, 60, 60);
    

}

.counter-btn{
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:0.8rem;
    width:3rem;
    border-radius:0.5rem;
    height:1.7rem;
    cursor: pointer;
    text-align: center
}

.detaild-prod2{
    background-color: rgb(151,156,255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:0.8rem;
    width:100%;
    border-radius:0.5rem;
    height:2rem
}

.detaild-prod1{
   max-width: 50%;
    border-radius:0.3rem;
    /* background-color: rgb(130,180,64); */
    background-image: linear-gradient(-180deg, #308b79, rgb(151,156,255));
    color: rgb(255, 255, 255);
    font-size:0.7rem;
    font-weight: bold;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(94, 85, 85);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.detaild-prod1:hover{
    background-color:rgb(217, 230, 230);
    color:rgb(61, 60, 60)
    
}

.image-desc-addcart-amount-price{
    display:flex;
    /* justify-content:space-between; */
    gap:3rem;
    
}
.all-comments{
    display:grid;
    justify-content:space-between;
}

.Product{
    display:flex;
    justify-content:space-between;
   
}

.Product-d{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    min-height: 20rem;
    margin-top:0.25%;
    gap: 1rem;
    border: rgb(46, 48, 47) 3px solid;
    box-shadow: 10px 5px 5px rgb(94, 85, 85);
   
}
.Parg-title{
    font-weight: bold
}

.comment-above-div-comments{
    padding-left: 1rem;
    color: rgb(65, 70, 75);
    font-size:1.6rem;
}

.Comments3{
    display: flex;
    flex-direction: column;
   background-color:rgb(201, 241, 182)
}

.Comments3 p{
   font-weight: bold;
   font-style: ital;
   font-family:Arial, Helvetica, sans-serif
}

.role-btn{
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    gap: 1rem;
    align-items:top;
    /* position: relative;
    right: 19rem;
    top: 0.2rem; */
}
.role-btn button{
width: 8rem;
height: 3.5rem;

}
.contain-discrdiv-rolebtn{
    display: flex;
    gap: 6rem;
    
}

.addnew-Comment1{
    display: flex;
    justify-content:space-between;
    gap: 1rem;
    position: relative;
    left:1rem;
    padding-top: 1rem;
}

.btn-addCom{
    width: 10rem;
	height: 1.5rem;
    border: none;
      border-bottom: 0.1rem solid rgb(5, 5, 5);

}
.Product-details2{
    width: 50%;
    /* border-left: 0.09rem solid rgb(40, 230, 15);
    border-bottom: 0.09rem solid rgb(40, 230, 15); */
}
.Product-details2{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align:start;
    align-items: flex-start;
    
}

.plus-minus-coun-addcart{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    justify-content:flex-start;
    align-items:center
}




/* CSS */
.button-27 {
  appearance: none;
  background-color: black;
  /* border: 1% solid #1A1A1A; */
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 0.7rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 3rem;
  min-width: 0;
  outline: none;
  padding: 0.3rem ;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5rem;
  will-change: transform;
  position: relative;
    left: -2rem;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-0.2rem);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    gap: 0.5rem;
}

.container-coment-addcoment{
    display: flex;
    gap: 3rem;
    border-top: 0.1rem rgb(217 230 230) solid;
    position: relative;
    
    
}

.image-det{
    margin: 0.5rem;
    
}

.img-dita{
    /* width: 17rem;
    height: 20rem; */
    width: 110%;
  height:17rem
}
.myAll-comment{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* background-color:rgb(0, 128, 6); */
    gap: 3rem;

    
}

